div {
  margin: 10px;
  padding: 10px;
}


label {
  color: blue;
}

.main {
  box-sizing: border-box;
  border: 2px solid red;
}

.parent {
  box-sizing: border-box;
  border: 2px solid blue;
}

.child {
  box-sizing: border-box;
  border: 2px solid green;
}